<div class="panel panel-default" ng-init="getBooks()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Books</h3>
    <h1>hbj</h1>
    <h2>{{book.title}}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="book in books">
    		<div class="col-md-3">
    			<div class="col-md-6">
    				{{book.title}}
    				<p>{{book.description}}</p>
    			</div>
    			<div class="col-md-6">
    				<img src="https://www.google.lk/search?q=book&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjezbXA3qjbAhUEXLwKHSwiAiQQ_AUICigB&biw=1366&bih=672#imgrc=DU1u8DYxFT1BsM:">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>